@import 'https://fonts.googleapis.com/css?family=Material+Icons';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E1E1E;
    color: #fff;
    overflow-x: hidden;
}

.heading {
    background-color: #1E1E1E;
    color: #fff;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.heading .col-4 {
    padding: 20px;
}

.heading .col-4 h2 {
    text-align: center;
}

.heading .col-4 {
    padding: 30px;
}

.notifications {
    text-align: center;
    margin-top: 10px;
}

.bahasa {
    text-align: center;
}

.notifications {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin-left: 25px;
}

.notifications .badge {
    position: absolute;
    top: -10px;
    right: -8px;
    padding: 5px 7px;
    border-radius: 50%;
    background: red;
    color: white;
}

span.lang {
    font-size: 11px;
    display: block;
}

.heading .col-6 {
    padding: 0px;
}

.pemadam-container {
    margin-top: 40px;
}

.pemadam {
    background-image: linear-gradient(to bottom right, #E26060, #DC4341);
    width: 350px;
    margin: auto;
    padding: 30px 25px;
    border-radius: 25px;
    font-family: Nunito;
}

.pemadam h4 {
    font-size: 20px;
    font-family: Nunito SemiBold;
}

.pemadam span {
    font-size: 15px;
}

.pemadam p {
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: Nunito SemiBold;
}

.pemadam p span {
    font-family: Nunito Regular;
}

.feeds-news {
    margin-top: 30px;
    text-align: center;
    padding: 0px 70px;
}

.feeds,
.news {
    background-color: #DC4341;
    width: 100px;
    margin: auto;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.col-6 span.feeds-text {
    display: block;
    text-align: center;
    padding-top: 20px;
}

.col-6 span.news-text {
    display: block;
    text-align: center;
    padding-top: 20px;
}

.donation {
    background-color: #DC4341;
    width: 100px;
    margin: auto;
    padding: 33px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    font-family: Nunito;
    margin-bottom: 10px;
}

.col-6 span.donation-text {
    display: block;
    text-align: center;
    padding-top: 20px;
}

.material-icons.article,
.material-icons.list {
    font-size: 30px;
}

.news-content-container {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
    margin-bottom: 140px;
}

.news-content-container hr {
    height: 2px;
    width: 80px;
    margin-top: 0px;
    color: #fff;
    background-color: #DC4341;
}

img.img-thumb {
    border-radius: 30px;
}

.desc {
    margin-top: 20px;
}

.desc p {
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: justify;
}

.desc a {
    margin-top: 10px;
    color: #DC4341;
}

.news-content-container .col-12:not(:first-child) {
    margin-top: 30px;
}

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #333333;
    padding: 20px;
}

.footer .row .col-4 {
    padding-left: 0px;
    padding-right: 0px;
}

.footer span {
    font-size: 30px;
}

.notif {
    background-color: #DC4341;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: -50px;
}

.footer a {
    color: #fff;
}

.notif .campaign {
    margin-top: 25px;
    font-size: 45px;
    transform: rotate(-10deg);
}

a {
    color: #fff;
}

.active {
    color: #DC4341;
}